[Unit]
Description=Servicio para verificar conexión a Internet y registrar en MariaDB
After=network.target

[Service]
ExecStart=/home/pi/mqtt_env/bin/python /home/pi/mqtt_env/scripts/verificar_internet_mariadb.py
WorkingDirectory=/home/micha_pi/mqtt_env/scripts
StandardOutput=journal
StandardError=journal
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
